html * {
    font-family: arial, sans-serif;
  }
.navigationbar{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content: right;
}
.navigationitem{
    margin:10px;
}
/* unvisited link */
a:link {
    color: black;
    text-decoration:none;
}
  
/* visited link */
a:visited {
    color: black;
}
  
/* mouse over link */
a:hover {
    color:  black;
}
  
/* selected link */
a:active {
    color:  black;
}
.center{
    display:flex;
    justify-content: center;
    align-items:center;
}

.searchbox {
    display: flex;
    z-index: 3;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 1048px;
    margin-top:30px
}

.searchbutton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.advsearchlogoposition{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    align-items:center;
    margin-left:10px;
    width: 74px;
    height: 24px;
}

.heading1advsearch{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.line{
    border-bottom: 1px solid #ebebeb;
}

.heading2advsearch{
    font-size: 16px;
    color: #333333;
    margin-left:40px;
    margin-top:40px;
}

.inputrow{
    display:flex;
    flex-direction:row;
    align-items: center;
}

.rowitem{
    margin-bottom:15px;
}
.leftadvsearch{
    font-size: 13px;
    margin-left:40px;
    width:200px
}

.advsearchbox{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 385px;
}

.advsearcharea{
    display:flex;
    justify-content: flex-end;
    margin-top:20px;
    max-width:645px;
}

.advsearchbutton{
    border: 1px solid #3079ed;
    color: #fff;
    height: 30px;
    min-width: 120px;
    box-shadow: none;
    background-color: #4d90fe;
    text-align: center;
}